:root{
    --logo-color:#95E1D3;
    --title-color:#333333;
    --text-color:#B6B6B6;
    --hover-color:#F38181;
}



    /* 
    font-family: 'Kaushan Script', cursive;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto', sans-serif;  
     */
        

     /* header */
.header{
    
    padding-top: 17px;
}

.header-wrap{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
    
.logo{
    color: var(--logo-color);
    font-family: Montserrat;
    font-size: 30px;
    font-weight: 700;
}  

.navigation-list{
    display: flex;
    justify-content: space-between;
    gap: 55px;
}

.navigation-item{
    color: var(--logo-color);
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 400;
}

.navigation-item:hover,
.navigation-item:focus{
    color: var(--hover-color);
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 400;
    border-bottom:  3px solid var(--hover-color);
    padding-bottom: 10px;
}

.span-wrap{
    display: flex;
    justify-content: center;
}

.slogon{
    color: var(--title-color);
    font-family: Kaushan Script;
    font-size: 24px;
    font-weight: 400;    
    margin-bottom: 20px;    
}

.title{
    color: var(--title-color);
    font-family: Montserrat;
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 40px;
}

.line{
    width: 60px;
    height: 4px;
    background-color: var(--hover-color);
    margin-bottom: 65px;
    margin: 0 auto;
}

.card-list{
    display: flex;
    flex-wrap: wrap;
    gap: 60px;
}

.card{
    display: flex;
}

.card-container{
    
}

.card-img{
    margin-right: 18px;
    width: 37px;
    height: 37px;
}

.card-title{
    color: var(--title-color);
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 20px;
}

.card-text{
    color: var(--text-color);
    font-family: Roboto;
    font-size: 15px;
    font-weight: 400;   
}

.our-team-list{
    display: flex;
    justify-content: space-between;
}

.our-team-text{
    color: var(--text-color);
    text-align: center;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 27px;
}

.our-team-card{
    
    width: 380px;
}

.our-team-img{
    margin-bottom: 30px;
    width: 380px;
    height: 470px;
}

.work{
    padding-top: 68px;
}

.worker-name{
    color: var(--title-color);
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 11px;
    text-align: center;
}

.our-team{
    padding-top: 100px;
    padding-bottom: 80px;
}

.profesion-wrap{
    display: flex;
    justify-content: center;
}

.profesion{
    color: var(--text-color);
    font-family: Roboto;
    font-size: 15px;
    font-style: italic;
    font-weight: 300;   
    text-align: center;
}

.foot-text{
    color: var(--title-color);
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 400;
}

.Laaqiq{
    color: var(--hover-color);
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 400;
}

.footer{
    padding-top: 10px;
    padding-bottom: 10px;
    
}

.footer-container{
    border-top: 1px solid var(--text-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
}



.foot-btn{
    background-color: var(--logo-color);
    color: #FFF;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 700;
    padding: 11px 38px;
    border: none;
    text-transform: uppercase;
    margin-left: -20px;
}

.input{
    padding: 8px 145px 8px 10px;
}